<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Button Demo</title>
        <link rel="stylesheet" href="../css/button.css">
</head>
    
<body>
    <!-- 文本说明 -->
    <div class="button-description">
        <h2>Button 组件</h2>
        <p>①主按钮：用于主行动点，一个操作区域只能有一个主按钮。</p>
        <p>②次按钮：用于没有主次之分的一组行动点。</p>
        <p>③虚线按钮：常用于添加操作。</p>
        <p>④文本按钮：用于最次级的行动点。</p>
        <p>⑤链接按钮：一般用于链接，即导航至某位置。</p>
        <p>⑥Block按钮：我也不知道是做什么的。</p>
        <p>⑦不可用按钮：按钮不可以被选中时。</p>
        <p>---鼠标移至按钮查看hover效果---</p>
    </div>
    <h3>代码演示</h3>
    <div class="button-container">
        <button class="primary">主按钮</button>
        <button class="secondary">次按钮</button>
        <button class="dashed">虚线按钮</button>
        <button class="text">文本按钮</button>
        <a href="#" class="link-btn">链接按钮</a>
        <button class="block">block按钮</button>
        <button class="disabled" disabled>不可用按钮</button>
    </div>

     <!-- 源代码展示部分 -->
    <pre id="source-code">
        <code>
            &lt;button class="primary"&gt;主按钮&lt;/button&gt;
            &lt;button class="secondary"&gt;次按钮&lt;/button&gt;
            &lt;button class="dashed"&gt;虚线按钮&lt;/button&gt;
            &lt;button class="text"&gt;文本按钮&lt;/button&gt;
            &lt;a href="#" class="link-btn"&gt;链接按钮&lt;/a&gt;
            &lt;button class="block"&gt;block按钮&lt;/button&gt;
            &lt;button class="disabled" disabled&gt;不可用按钮&lt;/button&gt;
        </code>
    </pre>
    
    <script src="../js/button.js"></script>
</body>
</html>