<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme Colors</title>
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>
    <h1>主题色</h1>

    <div class="theme-container" id="theme-container">
       
    </div>

    <pre id="source-code">
        <code>
            &lt;div class="theme-box"&gt;
                &lt;div class="theme-color" style="background-color: #409EFF"&gt;&lt;/div&gt;
                &lt;div class="theme-name"&gt;Primary : #409EFF&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="theme-box"&gt;
                &lt;div class="theme-color" style="background-color: #67C23A"&gt;&lt;/div&gt;
                &lt;div class="theme-name"&gt;Success : #67C23A&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="theme-box"&gt;
                &lt;div class="theme-color" style="background-color: #E6A23C"&gt;&lt;/div&gt;
                &lt;div class="theme-name"&gt;Warning : #E6A23C&lt;/div&gt;
            &lt;/div&gt;
            &lt;br&gt;
            &lt;div class="theme-box"&gt;
                &lt;div class="theme-color" style="background-color: #F56C6C"&gt;&lt;/div&gt;
                &lt;div class="theme-name"&gt;Danger : #F56C6C&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="theme-box"&gt;
                &lt;div class="theme-color" style="background-color: #909399"&gt;&lt;/div&gt;
                &lt;div class="theme-name"&gt;Info : #909399&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="theme-box"&gt;
                &lt;div class="theme-color" style="background-color: #606266"&gt;&lt;/div&gt;
                &lt;div class="theme-name"&gt;Text : #606266&lt;/div&gt;
            &lt;/div&gt;
            &lt;br&gt;
            &lt;div class="theme-box" style="border: 2px solid #CCCCCC"&gt;
                &lt;div class="theme-color" style="background-color: #FFFFFF"&gt;&lt;/div&gt;
                &lt;div class="theme-name" style="color: #000"&gt;LightMode : #FFFFFF&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="theme-box"&gt;
                &lt;div class="theme-color" style="background-color: #CCCCCC"&gt;&lt;/div&gt;
                &lt;div class="theme-name"&gt;BorderColor : #CCCCCC&lt;/div&gt;
            &lt;/div&gt;
        </code>
    </pre>
    
    <script src="../js/theme.js"></script>
</body>
</html>